footer{
    background: #82B1FF;
    text-align: center;
    padding: 15px;
    /* display: flex; */
}

footer i{
    margin: 10px;
    color: white;
}

a:link{
    text-decoration: none;
}

.dev{
    font-style: italic;
}

.copyright{
    opacity: 0.5;
}

span{
    color: white;
}